html, body
{
  margin:5px;
}

body {
	background-color: beige;
	font-family:Calibri;
}

.header{
    width:100%;
}

.kalah-table {
    margin:auto;
    width:600px;
    height:300px;
    background-color: darkgray;
    table-layout: fixed;
}

.kalah-pit-cell{
    height: 50px;
    background-color: gray;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
}

.not-clickable{
    cursor: not-allowed;
}
.clickable{
    cursor: pointer;
}

.kalah-cell{
    height: 75px;
    background-color: white;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
}

.kalah-empty-cell{
    height: 75px;
}

.btn-newgame{
    width: 200px;
    height: 50px;
}



.board
{
  display:flex;
  background-color:Yellow;
  height:300px;
  width:900px;
  border-radius:50px;
  padding:30px;
}

.section
{
  background-color:rgba(255, 255, 255, 0.03);
  margin:5px;
}

.endsection
{
  display:flex;
  flex-grow:1;
}

.midsection
{
  display:flex;
  flex-direction:column;
  flex-grow:6;
}

.midrow
{
  display:flex;
  flex-grow:1;
}

.pot
{
  position:relative;
  background-color:rgba(255, 255, 255, 0.08);
  flex-grow:1;
  margin:5px;
  border-radius:50px;
}

.bead
{
  position:absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}